<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-tooltip/1.2.0/bulma-tooltip.min.css">
    <title>{% block title %}{% endblock title %}</title>
    {% block javascript %}{% endblock javascript %}
</head>


<body class="sans-serif">
    <header class="header bg-navy b--white-10 flex items-center justify-between">
        <a href={% url "home" %} class="f3 lh-title  moon-gray items-center no-underline">
            <h1 class="f3 lh-title moon-gray items-center"><i class="fa-solid fa-bolt-lightning moon-gray ph2"></i>Thundercards</h1>
        </a>
        <nav class="flex bb">
            <div class="flex-grow pa3 flex items-center">
                <!-- for setup only -->
                <a href={% url 'auth_logout' %} class="moon-gray ml3 no-underline">Log Out</a>
                <a href={% url 'registration_register' %} class="moon-gray ml3 no-underline">Register</a>
                <a href={% url 'auth_login' %} class="moon-gray ml2 no-underline">Log In</a>
                
                <!-- once we have set up authentication -->
                <!-- // if you are logged in -->
                <!-- {% if user.is_authenticated %} -->
                <!-- <a href={% url 'auth_logout' %} class="moon-gray ml3">Log Out</a> -->
                <!-- // if you are not logged in -->
                <!-- {% else %} -->
                <!-- <a href={% url 'registration_register' %} class="moon-gray ml3">Register</a> -->
                <!-- <a href={% url 'auth_login' %} class="moon-gray ml2">Log In</a> -->
                <!-- {% endif %} -->

            </div>
        </nav>
    </header>

    <div class="ma5">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>