
{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ user.username }}!</h1>
<a href={% url 'add_deck' %}>Create New Deck</a>
    {% for deck in decks %}
        <div class="card">   
            <a href="{% url 'list_cards' deck_pk=deck.pk%}">{{ deck.title }}</a>
            <button>Start</button>
            <a href="{% url 'edit_deck' deck_pk=deck.pk %}">Edit</a>
            <a href="{% url 'delete_deck' pk=deck.id %} ">Delete</a>
        </div>
    {% endfor %}
    <a href={% url 'add_deck' %}><i class="fa-solid fa-circle-plus fa-2x" style="color:green"></i></a>
    
{% endblock content %}