{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <h1 class="title is-3">Welcome, {{deck.user}}!</h1>
</div>

<div class="container">
    <!-- display title -->
    <h4 class="title is-3 has-text-centered mt-4 mb-5">Cards in {{ deck }}</h4>
    <div class="container has-text-centered mt-2 mb-6">
        <a href="{% url 'add_card' pk=deck.id %}"><button class="button is-primary">
            Add Card  +
        </button>
        <button class="button is-warning">
            Start Quiz
        </button>
    </div>
    <!-- list of cards -->
    <div class="columns is-multiline is-centered">
        {% for card in cards %}
        <div class="column is-one-fourth ">
            <div class="card pb-5">
                <div class="card-content">
                    <p class="title is-4 has-text-centered">Card {{ card.id }}</p>
                    <div class="box">{{ card.question }}</div>
                    <div class="box">{{ card.answer }}</div>
                    <!-- <button class="button is-danger is-small is-pulled-right">Delete</button> -->
                    <button class="button is-info is-small is-pulled-mr-2">Edit</button>
                    <a href="{% url 'delete_card' deck_pk=deck.pk card_pk=card.pk %}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- <div> -->
    <!-- <h2>Variables available in template:</h2> -->
    <!-- <p>{{ deck }}</p> -->
    <!-- <p>{{ deck.user }}</p> -->
    <!-- <p>{{ deck.user_id }}</p> -->
    <!-- <p>{{ deck.pk }}</p> -->
    <!-- <p>{{ deck.id }}</p> -->
    <!-- <p>{{ deck.cards.all }}</p> -->
    <!-- <ul> -->
        <!-- {% for card in cards %} -->
        <!-- <li>{{ card.id }}</li> -->
        <!-- <li>{{ card.pk }}</li> -->
        <!-- <li>{{ card.question }}</li> -->
        <!-- <li>{{ card.answer }}</li> -->
        <!-- <li>{{ card.deck }}</li> -->
        <!-- {% endfor %} -->
    <!-- </ul> -->
<!-- </div> -->

{% endblock %}<h1>